body {
  margin: 0;
  background-color: #f4f4f4;
  font-family: sans-serif;
}

.wrapper {
  display: flex;
  padding: 60px 20px;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 800px;
  border: 1px solid black;
  overflow: hidden;
}

.row {
  display: flex;
}

.cell {
  display: flex;
  flex: 1;
  border: 1px solid black;

  &.alive {
    background-color: black;
  }
}
